! Colorscheme
#include ".xresources.d/themes/gruvbox-dark.xresources"

! URXVT Terminal
URxvt*geometry: 120x35
URxvt*font: xft:Fira Mono:book:pixelsize=13;xft:FontAwesome
URxvt*boldFont: xft:Fira Mono:bold:pixelsize=13;xft:FontAwesome
URxvt.intensityStyles: true
URxvt.scrollBar: false
URxvt.internalBorder: 10

Xft.autohint: 1
Xft.lcdfilter: lcdlegacy
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
