! Colorscheme
#include ".xresources.d/themes/wombat.xresources"

! URXVT Terminal
URxvt*geometry: 120x35
URxvt*font: xft:Fira\ Mono:book:size=10
URxvt*boldFont: xft:Fira\ Mono:book:size=10
URxvt.intensityStyles: false
URxvt.scrollBar: false
URxvt.internalBorder: 10

Xft.autohint: 1
Xft.lcdfilter: lcdlegacy
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
