* {
    background-color: transparent;
    text-color: #e5e9f0;
    font: "monospace 12";
}

window {
    children: [ inputbar ];
}

inputbar {
    spacing: 0px;
}

prompt {
    background-color: #1793d0;
}

prompt, entry {
    padding: 12px 24px;
}

entry {
    background-color: #333333;
}
