// Everforest with some modifications.
@import "everforest.rasi"

* {
	font: "GoMono Nerd Font 12";
	bg0: #282828;
	bg1: #474747;
	fg0: #dedede;
	accent-color: #83c746;
	urgent-color: #eb6eb7;
}

window {
	height: 600;
}

