"*":
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "*.pyc"
      "*.class"
    ]
    themes: [
      "unity-ui"
      "dark-pastel-eighties-syntax"
    ]
    disabledPackages: [
      "gradle-ci"
      "scala-format"
      "scala-worksheet"
    ]
  "exception-reporting":
    userId: "ee55e776-fa45-a753-dc84-06c0a32be055"
  welcome:
    showOnStartup: false
  "tree-view":
    hideIgnoredNames: true
  "unity-ui": {}
".go.source":
  editor:
    tabLength: 8
