! Colorscheme
#include ".xresources.d/enfocado.xresources"

Xft.dpi: 96

URxvt*termName: rxvt-unicode
URxvt*font: xft:GoMono Nerd Font:style=Regular:size=11
URxvt*boldFont: xft:GoMono Nerd Font:style=bold:size=11
URxvt.intensityStyles: true
URxvt.scrollBar: false
URxvt.internalBorder: 10
