! Colorscheme
#include ".xresources.d/vga.xresources"

Xft.dpi: 96

Xcursor.theme: OpenZone_White

URxvt*termName: rxvt-unicode
URxvt*font: xft:Ubuntu Mono:style=Regular:size=11
URxvt*boldFont: xft:Ubuntu Mono:style=bold:size=11
URxvt.intensityStyles: true
URxvt.scrollBar: false
URxvt.internalBorder: 10
