! Colorscheme
#include ".xresources.d/base16-atelier-forest-256.Xresources"

URxvt*termName: rxvt-unicode
URxvt*font: xft:Greybeard:style=Regular:size=11
URxvt*boldFont: xft:Greybeard:style=bold:size=11
URxvt.intensityStyles: true
URxvt.scrollBar: false
URxvt.internalBorder: 10
