"*":
  "exception-reporting":
    userId: "ff42ff6c-8ea1-9573-d0a7-7adfff39624b"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "smyck"
    ]
    projectHome: "/Users/danirod/Desarrollo/"
  editor:
    invisibles: {}
    fontSize: 16
".java.source":
  editor:
    tabLength: 4
