! Colorscheme
#include ".xresources.d/themes/sweetlove.xresources"

! xterm
XTerm.vt100.font: envypn
XTerm.vt100.faceSize: 11

! URXVT Terminal
URxvt*geometry: 120x35
URxvt*font: xft:envypn:style=Regular:size=11;xft:FontAwesome
URxvt*boldFont: xft:envypn:style=bold:size=11;xft:FontAwesome
URxvt.intensityStyles: true
URxvt.scrollBar: false
URxvt.internalBorder: 5

Xft.autohint: 1
Xft.lcdfilter: lcdlegacy
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
