! Colorscheme
#include ".xresources.d/themes/tango.xresources"

! URXVT Terminal
URxvt*geometry: 120x35
URxvt*font: xft:Hack:style=Regular:size=10;xft:FontAwesome
URxvt*boldFont: xft:Hack:style=bold:size=10;xft:FontAwesome
URxvt.intensityStyles: true
URxvt.scrollBar: false
URxvt.internalBorder: 0

Xft.autohint: 1
Xft.lcdfilter: lcdlegacy
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
